<h1 class="text-center"><%= @list.name %></h1>
<div class="container text-end">
  <a class="btn btn-outline-danger btn-sm text-hover-light" href="<%=edit_list_path(@list)%>" role="button">Edit</a>
  <a class="btn btn-outline-danger btn-sm text-hover-light" href="<%=lists_path()%>" role="button">Back</a>
</div>

<h2 class="text-center"> Bookmarks </h2>

<div class="container">
  <div class="card-group">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card">
        <img class="card-img-top" src="<%= bookmark.movie.poster_url %>" alt="">
        <div class="card-body">
          <h2 class="card-title"><%= bookmark.movie.title %></h2>
          <p>Rating: <%= bookmark.movie.rating %></p>
          <p class="card-text"><em><%= bookmark.movie.overview %></em></p>
          <p class="card-footer"><strong>Your comment is:  </strong>"<%= bookmark.comment %>"</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-5 mb-5">
  <h2>Add a movie to your list</h2>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>
